REPO_CLASS="infra.nextjs-grpc.projects.utkusarioglu.com"
REPO_PATH="/utkusarioglu-com/projects/nextjs-grpc/infra"
REPO_SERVICE="nextjs-grpc-infra"

# TF_VARS_MAIN_FILE_NAME=main
# DEFAULT_ENVIRONMENT_NAME=dev

# These are used by:
# `scripts/hosts-entries/common.sh`
# `src/targets/k3d/dev/local/k3d-cluster/scripts/check-requirements.sh`
HOSTS_ENTRIES_START_PHRASE='# HOSTS LIST START'
HOSTS_ENTRIES_END_PHRASE='# HOSTS LIST END'
